:root {
    --primary-color: #C9F9FF;
    --secondary-color: #1C7293;
    --tertiary-color: #171D1C;
    --quaternary-color: #FFF8F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Figtree", sans-serif;
    background-color: var(--quaternary-color);
}

.sidebar {
    width: 250px;
    background-color: var(--secondary-color);
}

