:root {
    --primary-color: #405D72;
    --secondary-color: #758694;
    --tertiary-color: #F7E7DC;
    --quaternary-color: #FFF8F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Figtree", sans-serif;
}

#sidebar {
    width: 250px;
    background-color: var(--primary-color) !important;
}
